<% include partials/header %>

<h1>Bodhishare Landing page!</h1>

<p>Bodhi (Sanskrit: बोधि; and Pali) in Buddhism is the understanding possessed by a Buddha regarding the true nature of things </p>

<a href="/bodhis">View all bodhis</a>

<% include partials/footer %>