.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0px;
}

.thumbnail .caption-full {
    padding: 9px;
    margin-top: 9px;
    float: left;
}

.thumbnail img:hover {
	transform: scale(1.05);
}

.delete-form {
    display: inline;
}

.container-fluid {
   padding:20px;
}

.lead {
    padding-left:15px;
}

.list-group {
    padding:9px;
}

.btn btn-xs btn-warning {
    float:right;
}

#comment-button {
    margin:20px;
}




/* this works for desktop size but fails on smaller screens
.list-group {
    height:33%;
    float:right;
}*/



