<% include ../partials/header %>

  <div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>bodhis</h1>
            <p>share wisdom, seek wisdom, contribute to the wise</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/bodhis/new">create a new bodhi</a>
            </p>
       </div> 
    </header>
    
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% bodhis.forEach(function(bodhi){ %>
            <div class="col-md-3 col-sm-6">
              <div class="thumbnail">
                <img src="<%= bodhi.image %>">
                <div class="caption">
                  <h4><%= bodhi.name %></h4>
                </div>
                <p>
                  <a href="/bodhis/<%= bodhi._id %>" class="btn btn-primary">More info</a>
                </p>
              </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>